@mixin button($background, $text, $border, $reverse: false) {
	background-color: $background;
	color: $text;
	border: 2px solid $border;
	border-radius: 0.6rem;
	padding: 0.75rem 1.25rem;
	font-family: var(--typography-font-buttons);
	font-size: 1rem;
	font-weight: 600;
	line-height: 1;
	letter-spacing: 0.02em;

	&:hover {
		@if $reverse == true {
			background-color: var(--color-neutral-white);
			border-color: var(--color-neutral-white);
			color: var(--color-neutral-dark);
		} @else {
			background-color: var(--color-neutral-dark);
			border-color: var(--color-neutral-dark);
			color: var(--color-neutral-white);
		}
	}

	&:focus-visible {
		outline-offset: 3px;
		@if $reverse == true {
			outline: 2px solid var(--color-functional-focus-reverse);
		} @else {
			outline: 2px solid var(--color-functional-focus);
		}
	}

	&:active {
		@if $reverse == true {
			background-color: var(--color-neutral-lightest);
			border-color: var(--color-neutral-lightest);
			color: var(--color-neutral-dark);
		} @else {
			background-color: var(--color-neutral-darkest);
			border-color: var(--color-neutral-darkest);
			color: var(--color-neutral-white);
		}
	}

	&[disabled],
	&[aria-disabled='true'] {
		cursor: not-allowed;
		background-color: var(--color-functional-disabled-background);
		border-color: var(--color-functional-disabled-background);
		color: var(--color-functional-disabled-text-on-background);

		&:hover {
			color: var(--color-functional-disabled-text-on-background);
		}
	}
}

.sb-button {
	@include button(
		var(--color-primary-dark),
		var(--color-neutral-white),
		var(--color-primary-dark)
	);
}

.sb-button--secondary {
	@include button(
		var(--color-neutral-white),
		var(--color-primary-dark),
		var(--color-primary-dark)
	);
}

.sb-button--reverse {
	@include button(
		var(--color-opacity-clear),
		var(--color-neutral-white),
		var(--color-neutral-white),
		true
	);
}
