@use '../../utilities' as *;

.sb-tabs__tablist {
	width: 100%;
	background-color: var(--color-neutral-white);
	border-bottom: 3px solid var(--color-neutral-regular);
	column-gap: 1px;
}

// Tab.
.sb-tabs__tab {
	--sb-tabs--text-color: var(--color-neutral-darkest);

	flex-grow: 1;
	height: 3rem;
	padding: 0;
	background-color: var(
		--sb-tabs--background-color,
		var(--color-neutral-white)
	);
	color: var(--sb-tabs--text-color);
	border: none;
	cursor: pointer;

	&[aria-selected='true'] {
		--sb-tabs--background-color: var(--color-neutral-darkest);
		--sb-tabs--text-color: var(--color-neutral-white);
	}

	&:hover {
		--sb-tabs--background-color: var(--color-primary-dark);
		--sb-tabs--text-color: var(--color-neutral-white);
	}

	&:focus-visible {
		--sb-tabs--background-color: var(--color-neutral-darkest);
		--sb-tabs--text-color: var(--color-neutral-white);
		outline: 2px solid var(--color-neutral-white);
		outline-offset: -4px;
	}

	&[aria-disabled='true'] {
		--sb-tabs--background-color: var(--color-functional-disabled-background);
		--sb-tabs--text-color: var(--color-functional-disabled-text-on-background);
		cursor: not-allowed;
	}
}

// Tab text.
// Apply separator border here.
.sb-tabs__tab-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	font-family: var(--typography-font-headings);
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1;
	padding-block-start: 1px;
	border-left: 1px solid var(--color-neutral-regular);

	@include breakpoint(medium) {
		font-size: 1rem;
	}
}

// Adjust separator from first tab and when adjacent to selected, hovered, or disabled tabs.
.sb-tabs__tab {
	&:first-child,
	&[aria-selected='true'],
	&[aria-selected='true'] + .sb-tabs__tab,
	&:hover,
	&:hover + .sb-tabs__tab,
	&[aria-disabled='true'],
	&[aria-disabled='true'] + .sb-tabs__tab {
		.sb-tabs__tab-text {
			border-left: 1px solid var(--color-opacity-clear);
		}
	}
}

// Tab icon.
.sb-tabs__icon {
	--pds-icon--fill-color: var(--sb-tabs--text-color);
	margin-inline-end: 0.75rem;
	width: 1.25rem;
	height: 1.25rem;

	@include breakpoint(medium) {
		width: 1.5rem;
		height: 1.5rem;
	}
}

// Panel.
.sb-tabs__panel {
	&:focus-visible {
		outline: 2px solid var(--color-neutral-regular);
	}
}

// Triggers
.sb-tabs__tablist {
	display: none;
}

.sb-tabs__panel {
	display: block;
}

.sb-tab__icon-closed {
	display: none;
}

.sb-tabs__panel[hidden] + .sb-tabs__panel .sb-tabs__trigger {
	border-block-start: none;
}

.sb-tabs__panel[hidden] {
	.sb-tabs__panel-content {
		display: none;
	}

	.sb-tab__icon-opened {
		display: none;
	}

	.sb-tab__icon-closed {
		display: initial;
	}
}

.sb-tabs__trigger {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
	font-family: var(--typography-font-headings);
	font-weight: 700;
	font-size: 1rem;
	padding: 1.5rem;
	border-block-width: 2px;
	border-block-style: solid;
	border-block-color: var(--color-neutral-regular-light);
	border-inline: none;
	background-color: transparent;
	cursor: pointer;
	width: 100%;

	> span {
		display: flex;

		.sb-tabs__icon {
			--pds-icon--fill-color: currentColor;
		}
	}

	&[aria-selected='true'] {
		background-color: var(--color-neutral-darkest);
	}

	&:hover {
		background-color: var(--color-primary-dark);
	}

	&:hover,
	&[aria-selected='true'] {
		border-block-color: transparent;
		color: var(--color-neutral-white);

		.sb-tabs__icon {
			--pds-icon--fill-color: var(--color-neutral-white);
		}

		.sb-tab__icon {
			fill: var(--color-neutral-white);
		}
	}

	&:hover:focus-visible {
		box-shadow: none;
		outline: none;
	}

	// Focus styles.
	&:focus-visible {
		outline: 2px solid var(--color-neutral-white);
		outline-offset: -4px;
	}

	.sb-tab__icon {
		flex-shrink: 0;
	}
}

.sb-tabs__panel-content {
	padding: 1.5rem;
}

@include breakpoint(medium) {
	.sb-tabs__tablist {
		display: flex;
	}

	.sb-tabs__trigger {
		display: none;
	}
}
