@use '../../utilities/breakpoints/breakpoints' as *;

.sb-card {
	display: grid;
	grid-template-rows: auto auto auto 1fr auto;
	box-sizing: border-box;
	padding-block-end: 1.125rem;
	background-color: var(--color-neutral-white);
	border: 1px solid var(--color-neutral-regular-light);
	box-shadow: 1px 0.5px 11px 1px rgba(0, 0, 0, 0.11);

	@include breakpoint(medium) {
		max-width: 400px;
	}
}

.sb-card--without-image {
	padding-block-start: 0.5rem;
}

.sb-card__image {
	img {
		width: 100%;
		aspect-ratio: 3 / 2;
	}
}

.sb-card__kicker,
.sb-card__heading,
.sb-card__bodytext,
.sb-card__link {
	padding-inline: 1.25rem;
}

.sb-card__kicker {
	font-family: var(--typography-font-headings);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.0625rem;
	letter-spacing: 0.04em;
	color: var(--color-neutral-regular-dark);
	margin-block-start: 1rem;
	margin-block-end: -0.25rem;
}

.sb-card__heading {
	margin-block-start: 1rem;
	margin-block-end: 0.25rem;
	h2,
	h3 {
		font-size: 2rem;
	}
}

.sb-card__link {
	margin-block-start: 0.75rem;
}
