@use '../../foundations/_variables.scss' as *;
@use '../breakpoints/_breakpoints.scss' as *;

.sb-container {
	max-width: $container-max-width;
	padding-inline-start: $container-padding-sm;
	padding-inline-end: $container-padding-sm;
	margin-inline-start: auto;
	margin-inline-end: auto;

	@include breakpoint(medium) {
		padding-inline-start: $container-padding-md;
		padding-inline-end: $container-padding-md;
	}

	@include breakpoint(large) {
		padding-inline-start: $container-padding-lg;
		padding-inline-end: $container-padding-lg;
	}
}
