<div style="background:#eee; padding:1.5rem 0 1rem;">
	<div class="sb-container">
		<h3>
			Section 1
		</h3>
		<p>
			I'm baby organic pug four loko vaporware, cred aesthetic craft beer kinfolk flexitarian taiyaki banh mi fashion
			axe drinking vinegar knausgaard. Lomo palo santo DSA venmo. Fanny pack street art DSA, hashtag locavore cloud
			bread fam venmo biodiesel cronut etsy portland vegan banjo. Shaman gentrify artisan hell of.
		</p>
	</div>
</div>
<div style="padding:2rem 0 1rem;">
	<div class="sb-container sb-grid">
		<div class="sb-grid__item sb-grid__item--sm-4 sb-grid__item--md-6">
			<h3>
				Section 2
			</h3>
			<p>
				Hoodie gastropub gochujang heirloom, swag lyft kitsch DSA chicharrones. Waistcoat twee snackwave fam Brooklyn
				asymmetrical hoodie copper mug chillwave.
			</p>
		</div>
		<div class="sb-grid__item sb-grid__item--sm-4 sb-grid__item--md-6">
			<h3>
				Section 3
			</h3>
			<p>
				Glossier venmo cray poke iPhone crucifix green juice ugh affogato retro kogi put a bird on it shabby chic
				slow-carb. Tonx celiac tbh air plant pop-up. Hoodie lyft tofu polaroid poke.
			</p>
		</div>
	</div>
</div>
