<div class="sb-grid">
	{% if cards %}
		{% for card in cards %}
			{% include '../../components/card/card.twig' with {
				image: card.image,
				kicker_text: card.kicker_text,
				heading_level: card.heading_level,
				heading_text: card.heading_text,
				body_text: card.body_text,
				link: card.link,
				extra_classes: 'sb-grid__item sb-grid__item--sm-4 sb-grid__item--md-4'
			} %}
		{% endfor %}
	{% endif %}
</div>
