@mixin link($color, $hover, $active, $focus) {
	color: $color;
	font-family: var(--typography-font-headings);
	font-size: 1.1875rem;
	line-height: 1;
	font-weight: 700;
	text-decoration: none;

	&:visited {
		color: $color;
	}

	&::after {
		content: '';
		display: inline-block;
		border-right: 3px solid $color;
		border-bottom: 3px solid $color;
		width: 9px;
		height: 9px;
		rotate: -45deg;
		translate: 7px -1px;
		transition: 0.05s ease;
	}

	&:hover {
		text-decoration: underline;
		color: $hover;

		&::after {
			translate: 9px -1px;
			border-color: $hover;
		}
	}

	&:active {
		color: $active;
		&::after {
			border-color: $active;
		}
	}

	&:focus-visible {
		outline: none;
		span {
			outline: 2px solid $focus;
			outline-offset: 4px;
		}
	}
}

.sb-link {
	@include link(
		var(--color-primary-regular),
		var(--color-primary-dark),
		var(--color-neutral-dark),
		var(--color-functional-focus)
	);
}

.sb-link--secondary {
	@include link(
		var(--color-accent-regular),
		var(--color-accent-bright-dark),
		var(--color-neutral-darkest),
		var(--color-functional-focus)
	);
}

.sb-link--reverse {
	@include link(
		var(--color-neutral-white),
		var(--color-neutral-light),
		var(--color-neutral-darkest),
		var(--color-functional-focus-reverse)
	);
}
